body {
	margin-top: 50px;
	background-color: #FAF9F5;
}
#main-content {
	margin-top: 20px;
	padding-bottom: 20px;
}
#main-image {
	margin-bottom: 20px;
}
#email-button {
	background-color: #FAF9F5;
}
#email-button:hover,
#email-button:focus,
#email-button:active {
	background-color: #E1E0DC;
}
#email-button:active:hover,
#email-button:active:focus {
	background-color: #CFCECA;
}
.dropdown-menu {
	background-color: #FAF9F5;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #F0EFEB;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #FAF9F5;
}
